- Anmol More - 11915043
- Shlok Mittal - 11915071

In [2]:
import pandas as pd
import numpy as np
import itertools

In [4]:
df = pd.read_csv('../data/raw/cabdata_v2.csv')

In [12]:
def EOQ(D):
    l = eval(D)
#     print(l[0])
#     print(l[-1])
    sum = 0
    for first, second in zip(l, l[1:]):
        sum = sum + haversine(first[1], first[0], second[1], second[0])
    return sum

df['distance'] = df.apply(lambda row: EOQ(row['POLYLINE']), axis=1)

In [9]:

#df['Distance'] = [len(eval(x)) for x in df['POLYLINE']]



def haversine(lat1, lon1, lat2, lon2, to_radians=True, earth_radius=6371):
    """
    slightly modified version: of http://stackoverflow.com/a/29546836/2901002

    Calculate the great circle distance between two points
    on the earth (specified in decimal degrees or in radians)

    All (lat, lon) coordinates must have numeric dtypes and be of equal length.

    """
    if to_radians:
        lat1, lon1, lat2, lon2 = np.radians([lat1, lon1, lat2, lon2])

    a = np.sin((lat2-lat1)/2.0)**2 + np.cos(lat1) * np.cos(lat2) * np.sin((lon2-lon1)/2.0)**2

    return earth_radius * 2 * np.arcsin(np.sqrt(a))

In [14]:
df.to_csv('../data/raw/cabdata_v5_actual_timings.csv')

In [15]:
df.sample(10)

,Unnamed: 0,CALL_TYPE,DAY_TYPE,MISSING_DATA,ORIGIN_CALL,ORIGIN_STAND,POLYLINE,TAXI_ID,TIMESTAMP,TRIP_ID,end_coordinate,start_coordinate,start_lat,start_long,end_lat,end_long,distance
147075,149472,B,A,False,NaN,16.0,"[[-8.627778, 41.175387], [-8.627643, 41.175036...",20000473,2013-08-01 20:59:23,1375390763620000473,"[-8.613144, 41.15664]","[-8.627778, 41.175387]",41.175387,-8.627778,41.156640,-8.613144,3.315951
750799,764148,B,A,False,NaN,9.0,"[[-8.606484, 41.144679], [-8.606502, 41.144679...",20000604,2013-12-12 09:01:51,1386838911620000604,"[-8.638866, 41.234733]","[-8.606484, 41.144679]",41.144679,-8.606484,41.234733,-8.638866,12.378620
261309,265522,A,A,False,18439.0,NaN,"[[-8.628795, 41.170752], [-8.628777, 41.170797...",20000320,2013-08-30 15:55:06,1377878106620000320,"[-8.588484, 41.177493]","[-8.628795, 41.170752]",41.170752,-8.628795,41.177493,-8.588484,5.071761
315368,320632,A,A,False,7460.0,NaN,"[[-8.597106, 41.143599], [-8.597421, 41.144157...",20000331,2013-09-12 06:04:51,1378965891620000331,"[-8.614152, 41.137497]","[-8.597106, 41.143599]",41.143599,-8.597106,41.137497,-8.614152,3.564425
1597116,1632088,C,A,False,NaN,NaN,"[[-8.613576, 41.146722], [-8.613549, 41.145948...",20000494,2014-06-15 05:16:15,1402809375620000494,"[-8.613522, 41.14998]","[-8.613576, 41.146722]",41.146722,-8.613576,41.149980,-8.613522,1.129702
249516,253492,C,A,False,NaN,NaN,"[[-8.616096, 41.14755], [-8.61606, 41.147514],...",20000013,2013-08-27 15:19:45,1377616785620000013,"[-8.625609, 41.164551]","[-8.616096, 41.14755]",41.147550,-8.616096,41.164551,-8.625609,2.499068
1262186,1289676,B,A,False,NaN,35.0,"[[-8.649567, 41.167296], [-8.64963, 41.166909]...",20000426,2014-04-07 15:45:12,1396885512620000426,"[-8.625807, 41.150052]","[-8.649567, 41.167296]",41.167296,-8.649567,41.150052,-8.625807,4.479670
435038,442413,B,A,False,NaN,47.0,"[[-8.654733, 41.173533], [-8.654814, 41.173407...",20000105,2013-10-05 10:07:21,1380967641620000105,"[-8.651286, 41.167287]","[-8.654733, 41.173533]",41.173533,-8.654733,41.167287,-8.651286,1.183535
223041,226629,B,A,False,NaN,34.0,"[[-8.615502, 41.140782], [-8.615826, 41.140701...",20000294,2013-08-20 14:52:25,1377010345620000294,"[-8.620992, 41.154633]","[-8.615502, 41.140782]",41.140782,-8.615502,41.154633,-8.620992,3.461508
112071,113874,C,A,False,NaN,NaN,"[[-8.585802, 41.181624], [-8.585622, 41.181597...",20000688,2013-07-24 23:38:31,1374709111620000688,"[-8.6112, 41.177718]","[-8.585802, 41.181624]",41.181624,-8.585802,41.177718,-8.611200,3.387870

In [3]:
df = pd.read_csv('../data/raw/cabdata_v5_actual_timings.csv')

In [11]:
pd.isna(df[df['CALL_TYPE'] == 'B']['ORIGIN_STAND']).value_counts()

False    797688
True      11203
Name: ORIGIN_STAND, dtype: int64